:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: aliceblue;
  background-image: url(./pinkbg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: lightblue;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: lightblue;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#navbar {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.postCard {
  overflow: hidden;
  background-color: hsl(195, 53%, 79%, 0.4);
  color: black;
  text-align: center;
  border-radius: 1rem;
  width: 100vw;
  height: 30vh;
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.formGroup {
  background-color: hwb(195, 68%, 10%, 0.5);
  height: 20vh;
  border-radius: 20px;
}

.inputField {
  background-color: rgb(252, 243, 243, .5);
  border-radius: 5px;
  color: black;
}